<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h2>LOG-IN</h2>
    <form action="/login" method="post">
      <label for="username">
        USERNAME
        <input id="username" name="username" type="text" required>
      </label>
      <label for="password">
        PASSWORD
        <input id="password" name="password" type="password" required>
      </label>
      <button type="submit">LOGIN</button>
    </form>
    <p>
      Don't have an account yet? <a href="/sign-up">Sign-up here.</a>
    </p>
  </div>
</body>
</html>